# Python
__pycache__/
*.py[cod]
.venv/

# Environment / secrets
.env
.env.*

# Node / React
node_modules/
dist/
build/
.vite/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db